*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{

    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}


/* Llamar una clase .nombreclase*/

.name{

    color: red;
}

/* Llamar una id #nombreid , omitirlo para css*/

/* #paula{

    color: green;
} */
